/**
 * Styles using bootstrap
 */

body {
    padding: 0;
    margin: 0;
}
html, body, #content, .container {
    height: 100%;
}
#map { height: 80%; }

.leaflet-popup-content {
    text-transform: none;
    color: red;
}
